.Account {
	display: flex;
	flex-direction: column;
	padding: 100px 3.5%;
	background-color: var(--mtc);
}

.MainContentAccount {
	overflow: hidden;
	justify-content: space-between;
}

.WelcomePartAccount {
	display: flex;
	flex-direction: row;
	gap: 5px;
}

.UserWelcome {
	background-color: var(--mtc);
	border-radius: 8px;
	width: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 20px;
}

.UserWelcome h1 {
	font-size: var(--vbfs);
	color: var(--dark-blue);
	font-weight: 400;
}

.UserWelcome h2 {
	font-size: var(--mls);
	color: var(--light-black);
	font-weight: 400;
}

.InfoTravelsUser {
	font-size: var(--mfs);
	color: var(--mtcb);
}

.FutureTravels {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;
	margin-top: 40px;
}

.FutureTravels>div {
	display: flex;
	flex-direction: row;
	width: 100% !important;
}

.TravelsInfo {
	margin-top: 0px;
	display: flex;
	flex-direction: column;
	gap: 5px;
	text-align: center;
}

.TravelsInfo>span {
	color: var(--light-black);
	font-size: var(--mbfs);
}

.TravelsAcc,
.PastTravelsAcc {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: calc(100% - 40px);
	margin: 0px !important;
	padding-bottom: 20px;
}

.Trip {
	border-radius: 8px;
	padding: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.MainInfo {
	display: flex;
	align-items: center;
	height: 100%;
}

.Time {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	margin-right: 20px;
	font-size: var(--mfs);
}

.Time div {
	display: flex;
	flex-direction: column;
}

.Route {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 40px;
	font-size: var(--mbfs) !important;
}

.Place {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.Place span:nth-child(1) {
	font-size: var(--mbfs);
	color: var(--mtcb);
}

.Place span:nth-child(2) {
	font-size: var(--mfs);
	color: var(--mtcb);
}

.RouteSymbol {
	position: relative;
	width: 20px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 20px;
}

.RouteSymbol .Line {
	position: absolute;
	width: 3px;
	height: 100%;
	background-color: var(--dark-blue);
}

.RouteSymbol .Circle {
	position: absolute;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	background-color: var(--dark-blue);
	display: flex;
	align-items: center;
	justify-content: center;
}

.RouteSymbol .Circle .InnerCircle {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background-color: var(--mtc);
	z-index: 999;
	display: flex;
	align-items: center;
	justify-content: center;
}

.SmallCircle {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: var (--dark-blue);
	z-index: 999;
}

.RouteSymbol .Circle.top {
	top: 0;
}

.RouteSymbol .Circle.bottom {
	bottom: 0;
}

.AdditionalInfo {
	display: flex;
	flex-direction: column;
	gap: 20px;
	font-size: var(--mfs);
}

.DayTrips {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.ShowAllButton {
	padding: 10px;
	border: 2px solid var(--dark-blue);
	border-radius: 25px;
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	transition: 0.5s ease !important;
	cursor: pointer;
}

.ShowAllButton:hover {
	transition: 0.5s ease !important;
}

.ShowAllButton span {
	font-size: var(--mfs) !important;
	color: var(--dark-blue) !important;
	cursor: pointer;
}

.ProposeBuyTicketAcc {
	margin-top: 0 !important;
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: flex-start !important;
	align-items: center;
	text-align: center;
}

.ProposeBuyTicketAcc>span {
	text-align: center;
	color: var(--light-black);
	font-size: var(--mls);
}

.ButtonBuyTicketsAcc {
	width: fit-content;
}

.Logout {
	margin-top: 40px;
	width: calc(100% - 40px);
	height: fit-content;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	background-color: var(--mbc);
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.NameLogout span {
	font-size: var(--mbfs);
}

.NameLogout span span:nth-child(2) {
	color: var(--danger-red);
}

.ButtonLogout button {
	height: 40px;
	width: fit-content;
	border-radius: 20px;
	border: none;
	background-color: var(--danger-red);
	font-size: var(--mfs);
	color: var(--mtc);
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 10px;
	cursor: pointer;
}

.ButtonLogout button i {
	transform: rotate(-180deg);
	font-size: var(--mfs);
}

@media (max-width: 1440px) {}

@media (max-width: 1024px) {}

@media (max-width: 768px) {}

@media (max-width: 425px) {}

@media (max-width: 320px) {}