.content .Help,
.content .InfoAboutUs,
.content .Rules,
.content .PrivacyPolicy {
	padding: 60px 18.2% 150px 18.2%;
	background-color: var(--mtc);
}

.MainPart {
	display: flex;
	flex-direction: column;
}

.MainPart span:nth-child(1) {
	text-align: center;
	color: var(--dark-blue);
	font-size: var(--vbfs);
	font-weight: 500;
}

.MainPart span:nth-child(2) {
	text-align: center;
	padding: 0px 23%;
	margin-bottom: 134px;
	color: var(--light-black);
	font-size: var(--mls);
}

.Heading {
	font-size: var(--mbfs);
	color: var(--light-black);
}

.Text_subheading {
	color: var(--light-black);
	font-size: var(--mls);
	margin-bottom: 60px;
}

.Text_subheading span {
	padding: 0 !important;
	gap: 0 !important;
	color: var(--light-black) !important;
	font-size: var(--mls) !important;
}

.Text_subheading span a {
	padding: 0 !important;
	gap: 0 !important;
	color: var(--dark-blue) !important;
	font-size: var(--mls) !important;
}

@media (max-width:1440px) {
	.InfoAndLinks {
		padding: 50px 4.2%
	}

	.MainPart span:nth-child(2) {
		margin-bottom: 100px;
	}

	.Text_subheading {
		margin-bottom: 60px;
	}
}


@media (max-width:1024px) {
	.InfoAndLinks {
		padding: 50px 3.1%
	}

	.MainPart span:nth-child(2) {
		margin-bottom: 60px;
	}

	.Text_subheading {
		margin-bottom: 50px;
	}
}

@media (max-width:768px) {
	.InfoAndLinks {
		padding: 40px 5.7%
	}

	.MainPart span:nth-child(2) {
		margin-bottom: 50px;
	}

	.Text_subheading {
		margin-bottom: 30px;
	}
}

@media (max-width:426px) {
	.InfoAndLinks {
		padding: 25px 4.7%
	}

	.MainPart span:nth-child(2) {
		margin-bottom: 45px;
	}

	.Text_subheading {
		margin-bottom: 30px;
	}

	.MainPart span:nth-child(1) {
		text-align: left;
	}

	.MainPart span:nth-child(2) {
		text-align: left;
		padding: 0px 0%;
	}
}