.LanguageSwitcherSetup {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.Flag img {
  width: var(--mbfs);
  height: var(--mbfs);
  border-radius: 50%;
}
